<div class="container mb-3 mt-3">
	<div class="row">
		<div class="col-md-5 card mx-auto mt-1">
			<div class="panel panel-primary">
				<div class="panel-body">
					<form [formGroup]="orderFormGroup" (ngSubmit)="CreateOrder()">
						<div class="form-group">
							<h2 class="fw-bold">{{'Checkout'|translate}}</h2>
						</div>
						<div class="form-group" style="text-align: center;">
							<h5 class="fw-bold">{{name|translate}}</h5>
						</div>
						<div class="form-group ">
							<h6 class="h6 mt-2">{{'Price :'|translate}}{{price}}</h6>
						</div>
						<div class="form-group">
							<label class="control-label fw-bold" for="quantity" >{{'quantity'|translate}}</label>
							<input (keyup)="getRxcui($event)" type="number" class="form-control box" name="quantity" id="quantity"
								formControlName="quantity">
							<div [hidden]="quantity?.valid || quantity?.untouched" class="alert alert-warning">
								<small *ngIf="quantity?.errors?.['required']">{{'quantity is required'|translate}}</small>
							</div>
							<div class="mt-1"><span class="h6">{{'Total Price :'|translate}}</span>{{inputValue}}</div>
							<div class="row">
								<div class=" mt-3 h6"><b>{{'Payment method:'|translate}}</b>
									<select class="form-control" #templateval (change)="changePayment($event)" formControlName="paymentMethod">
										<option value="">{{'Choose Payment'|translate}}</option>
										<option *ngFor="let py of Paymentarr"  value="{{py}}" >{{py}}
										</option>
										
									</select>
									{{templateval.value}}
									<div class="invalid-feedback" *ngIf="paymentMethod?.invalid">
										<sup>*</sup>{{'Please Choose payment method'|translate}}
									</div>
								</div>
							</div>
							<label class="control-label fw-bold" for="addreaa">{{'address'|translate}}</label>
							<input type="text" class="form-control box" name="address" id="address"
								formControlName="address">
							<div [hidden]="address?.valid || address?.untouched" class="alert alert-warning">
								<small *ngIf="address?.errors?.['required']">{{'address is Required'|translate}}</small>
							</div>
							<label class="control-label fw-bold" for="street">{{'street'|translate}}</label>
							<input type="text" class="form-control box" name="street" id="street"
								formControlName="street">
							<div [hidden]="street?.valid || street?.untouched" class="alert alert-warning">
								<small *ngIf="street?.errors?.['required']">{{'street is Required'|translate}}</small>
							</div>
						</div>
						<div class="form-group mt-3">
							<button class="btn btn-primary form-control btn-block" [disabled]="templateval.value == 'Cash'"  routerLink="/Payment">{{'Payment'|translate}}</button>
						</div>


						<div class="form-group mt-3">
							<button id="signupSubmit" type="submit"  class="form-control btn-block"
								style="background-color:rgb(247, 155, 80);">{{'Add Order'|translate}}</button>
						</div>
						<div *ngIf="success" class="alert alert-success">{{'ordering Successful!!'}} 
							<a class="btn btn-success" routerLink="/Home" [hidden]="!orderFormGroup.valid">{{'back to home'|translate}}</a>
						</div>
						<p *ngIf="errMessage" class="alert alert-danger alert-dismissible fade show">{{errMessage|translate}}</p>

					</form>
				</div>
			</div>
		</div>
	</div>
</div>