
<div class="container mt-5 mb-5">

    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="images p-3">
                            <div class="text-center p-4"> 
                                <!-- <img class="w-55 mx-auto" src="http://Amazon-Dashboard.somee.com/wwwroot/Images/{{prod.productImages[0]?.path}}" alt="Product 1"> -->

                                <img class="w-55 mx-auto" src="http://Amazon-Dashboard.somee.com/wwwroot/Images/{{Prod.productImages[0].path}}" alt="Product 1">
    
                            </div>
                            <div class="thumbnail text-center"> <img onclick="change_image(this)"
                                src="http://Amazon-Dashboard.somee.com/wwwroot/Images/{{Prod.productImages[0].path}}"  width="70"> <img onclick="change_image(this)"
                                src="http://Amazon-Dashboard.somee.com/wwwroot/Images/{{Prod.productImages[0].path}}"  width="70"> </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product p-4">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                    <div class="bg-info rounded-circle d-flex align-items-center justify-content-center shadow-1-strong"
                                        style="width: 35px; height: 35px;">
                                        <a (click)="goBack()" class="text-white mb-0 small">
                                            <i class="fa fa-long-arrow-left fs-5"></i>
                                        </a>
                                    </div>
                                </div>
                                <i class="fa fa-shopping-cart text-muted"></i>
                            </div>
                            <div class="mt-4 mb-3">
                                <p class="text-uppercase text-muted brand">{{catName|translate}}</p>
                                <p class="text-uppercase text-muted brand">{{brandName|translate}}</p>
                                <h5 class="text-uppercase">{{Prod?.name|translate}}</h5>
                                <div class="price d-flex flex-row align-items-center"> <span
                                        class="act-price">${{Prod?.discountPrice}}</span>
                                </div>
                                <p class="about">{{Prod?.description|translate}}</p>
                            </div>
                           
                            <div class="cart mt-4 align-items-center">

                               <!-- <button  class="btn btn-warning text-uppercase mr-2 px-4"><i class="fa fa-shopping-cart"></i> Add to cart</button>  -->
                               <button class="btn btn-warning text-uppercase mr-2 px-4" (click)="addToCart()">
                                <i class="fa fa-shopping-cart"></i> 
                                {{'Add to cart'|translate}}
                            </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  </div>

