<!-- Latest compiled and minified CSS -->
<link 
  rel="stylesheet"
  href="https://cdn.rtlcss.com/bootstrap/v4.0.0/css/bootstrap.min.css"
  integrity="sha384-P4uhUIGk/q1gaD/NdgkBIl3a6QywJjlsFJFk7SPRdruoGddvRVSwv5qFnvZ73cpz"
  crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script
  src="https://cdn.rtlcss.com/bootstrap/v4.0.0/js/bootstrap.min.js"
  integrity="sha384-54+cucJ4QbVb99v8dcttx/0JRx4FHMmhOWi4W+xrXpKcsKQodCBwAvu3xxkZAwsH"
  crossorigin="anonymous"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous">
</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script type='text/javascript'></script>
 
 <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="container mb-3">
	<div class="row">
		<img class="w-25 mx-auto" src="./assets/amazonblack.png" alt="" routerLink="/Home">
	</div>
	<div class="row">
		<div class="col-md-5 card mx-auto mt-1">
			<div class="panel panel-primary">
				<div class="panel-body">
					<form [formGroup]="userFormGroup" (ngSubmit)="saveUser()">
						<div class="form-group">
							<h2 class="fw-bold">{{'Create account'|translate}}</h2>
						</div>
						<div class="form-group">
							<label class="control-label fw-bold" for="usrName">{{'Your name'|translate}}</label>
							<input type="text" class="form-control box" name="userName" id="userName"
								formControlName="userName" [class.is-valid]="userName?.valid"
								[class.is-invalid]="userName?.invalid">
							<div [hidden]="userName?.valid || userName?.untouched" class="alert alert-warning">
								<small *ngIf="userName?.errors?.['required']">{{'Name is Required'|translate}}</small>
								<small *ngIf="userName?.errors?.['minlength']">{{'Name must be more 5 letters at least'|translate}}</small>
							</div>
						</div>
						<div class="form-group">
							<label for="usrEmail" class="form-label fw-bold">{{'Email'|translate}}</label>
							<input type="email" class="form-control box" name="email" id="email"
								formControlName="email">
							<div [hidden]="email?.valid || email?.untouched" class="alert alert-warning">
								<small *ngIf="email?.errors?.['required']">{{'email is Required'|translate}}</small>
								<small *ngIf="email?.errors?.['pattern']">{{'email must be exa123@yahoo.com'|translate}} </small>
							</div>
						</div>
						<div class="form-group">
							<label for="usrPass" class="control-label fw-bold">{{'Password'|translate}}</label>
							<input type="password" class="form-control box" name="password" id="password"
								formControlName="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
							<div [hidden]="password?.valid || password?.untouched" class="alert alert-warning">
								<small *ngIf="password?.errors?.['required']">{{'password is Required'|translate}}</small>
								<small *ngIf="password?.errors?.['pattern']"> 
									{{'Must contain at least one number and one uppercase and lowercase letter,and at least 8 or more characters.'|translate}}
								</small>
							</div>
						</div>
						<div class="form-group">
							<label for="usrRePass" class="form-label fw-bold">{{'Password again'|translate}}</label>
							<input type="password" class="form-control" name="confirmPassword" id="confirmPassword"
								formControlName="confirmPassword" pattern="{{ password?.value }}">
							<div [hidden]="confirmPassword?.valid || confirmPassword?.untouched"
								class="alert alert-warning">
								<small *ngIf="confirmPassword?.errors?.['pattern']"> {{'Password & Confirm Password does not match.'|translate}}</small>
							</div>
						</div>
						<div class="form-group mt-3">
							<button id="signupSubmit" type="submit" class="form-control btn-block"
								style="background-color:rgb(247, 155, 80);">{{'Create your account'|translate}}</button>
						</div>

						<div *ngIf="success" class="alert alert-success">{{'Registration Successful!! Please'|translate}} 
							<a class="btn btn-success" routerLink="/login" [hidden]="!userFormGroup.valid">{{'Login'|translate}}</a>
						</div>
						<p *ngIf="errMessage" class="alert alert-danger alert-dismissible fade show">{{errMessage|translate}}</p>

						<p class="form-group">{{'By creating an account, you agree to our'|translate}} <a href="#">{{'Terms of Use'|translate}}</a> {{'an our'|translate}} <a href="#">{{'Privacy Policy'|translate}}</a>.</p>
						<hr>
						<p>{{'Already have an account?'|translate}} <a routerLink="/login">{{'Sign in'|translate}}</a></p>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>