<h2 class="mt-3">{{receivedCatName}}</h2>
<hr class="hr">
<div class="row">
    <div class="col-sm-4  col-xl-4 col-md-6 my-4 " *ngFor="let prod of prdListOfBrand">
        <div class="card text-black">
            <div class="d-flex justify-content-between p-3">
                <p class="h5 mx-auto mb-0">{{prod.name|translate}}</p>
            </div>
            <img src="http://Amazon-Dashboard.somee.com/wwwroot/Images/{{prod.productImages[0].path}}" class="card-img-top w-50 mx-auto"
                alt="Laptop" />
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <p class="small"><a href="#!" class="text-muted">{{receivedCatName|translate}}</a></p>
                </div>
                <div class="d-flex justify-content-between mb-3">
                    <h5 class="text-dark mb-0">${{prod?.price}}</h5>
                </div>

                <div class="d-flex justify-content-between mb-2">
                    <p class="text-muted mb-0">{{'Available'|translate}}: <span class="fw-bold">{{prod.quantity}}</span></p>
                </div>
                <a class="btn btn-primary mx-auto"(click)="openPrdDetails(prod.id)">{{'Show Details'|translate}}</a>
            </div>
        </div>
    </div>
</div>