


<div class="row">
    <div class="col-sm-4  col-xl-4 col-md-6 my-4" *ngFor="let prod of ProductFiltered" >
      <div class="card text-black">
        <div class="d-flex justify-content-between p-3">
          <p class="h5 mx-auto mb-0">{{prod.name|translate}}</p>
        </div>
        <div class="row mx-auto d-flex justify-content-around">
          <a href="#">
            <!-- <img class="w-55 mx-auto" src="http://Amazon-Dashboard.somee.com/wwwroot/Images/{{Prod.productImages[0].path}}" alt="Product 1"> -->

            <img class="w-55 mx-auto" src="http://Amazon-Dashboard.somee.com/wwwroot/Images/{{prod.productImages[0].path}}" alt="Product 1">

          </a>

          <div class="card-body">
            <div class="d-flex justify-content-between">
              <p class="small"><a href="#!" class="text-muted">{{'old price'|translate}}</a></p>
              <p class="small text-danger"><s>$ {{prod.price}}</s></p>
            </div>

            <div class="d-flex justify-content-between mb-3">
              <h6 class="mb-0">{{'After discount'|translate}}</h6>
              <h6 class="text-dark mb-0">$ {{prod.discountPrice}}</h6>
            </div>
            <a (click)="openPrdDetails(prod.id)" class="btn btn-primary text-light mt-3 ms-1 mb-2">{{'Show Details'|translate}}</a>
          </div>

        </div>
      </div>
    </div>

    <div *ngIf="ProductFiltered.length == 0">
    
      <div style="height: 400px;">
        <div class="alert alert-danger mt-5 mx-5" style="text-align:center" role="alert" >
          <i class="bi bi-exclamation-triangle"></i>
          <span> {{'No Products in search with this Name ^_^'|translate}} </span>
      </div>
      </div>
    </div>
  </div>