#promo .col-lg-12 {
    padding: 0 22px 10px 22px;
  }
  
  #promo .carousel {
    margin-top: -2px;
  }
  
  .col-lg-3 {
    padding: 0 7px;
  }
  
  .text-center {
    text-align: center;
  }
  
  h2 {
    color: #111;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
    padding-bottom: 15px;
  }
  
  h3 {
    color: #111;
    font-size: 28px;
    font-weight: 500;
  }
 .text-underline-hover {
    text-decoration: none;
}

.text-underline-hover:hover {
    text-decoration: underline;
    color: red;
}

h2 {
	color: #000;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
}
h2 b {
	color: #ffc000;
}
h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 4px;
	background: rgba(0, 0, 0, 0.2);
	left: 0;
	right: 0;
	bottom: -20px;
}
.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
}
.carousel-inner {
  padding: 1em;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 768px) {
  .card img {
    height: 11em;
  }
}